<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yh.store.mapper.OrderMapper">

    <resultMap id="OrderItemEntityMap" type="com.yh.store.pojo.OrderItem">
        <id column="id" property="id"/>
        <result column="created_user" property="createdUser"/>
        <result column="created_time" property="createdTime"/>
        <result column="modified_user" property="modifiedUser"/>
        <result column="modified_time" property="modifiedTime"/>
    </resultMap>

    <resultMap id="OrderEntityMap" type="com.yh.store.pojo.Order">
        <id column="oid" property="oid" />
        <result column="uid" property="uid"/>
        <result column="recv_name" property="recvName"/>
        <result column="recv_phone" property="recvPhone"/>
        <result column="recv_province" property="recvProvince"/>
        <result column="recv_city" property="recvCity"/>
        <result column="recv_area" property="recvArea"/>
        <result column="recv_address" property="recvAddress"/>
        <result column="total_price" property="totalPrice"/>
        <result column="status" property="status"/>
        <result column="order_time" property="orderTime"/>
        <result column="pay_time" property="payTime"/>
        <result column="created_user" property="createdUser"/>
        <result column="created_time" property="createdTime"/>
        <result column="modified_user" property="modifiedUser"/>
        <result column="modified_time" property="modifiedTime"/>
    </resultMap>
    <insert id="insertOrder" keyProperty="oid" useGeneratedKeys="true">
        INSERT INTO t_order (
                    uid,recv_name,recv_phone,recv_province,recv_city,recv_area,
                    recv_address,total_price,status,order_time,pay_time,
                    created_user, created_time, modified_user, modified_time
        ) VALUES (
                   #{uid},#{recvName},#{recvPhone},#{recvProvince},#{recvCity},#{recvArea},
                   #{recvAddress},#{totalPrice},#{status},#{orderTime},#{payTime},
                   #{createdUser}, #{createdTime}, #{modifiedUser}, #{modifiedTime}
                         )
    </insert>

    <insert id="insertOrderItem">
        INSERT INTO t_order_item (
                  oid,pid,title,image,price,num,
                  created_user, created_time, modified_user, modified_time
        ) VALUES (
                  #{oid},#{pid},#{title},#{image},#{price},#{num},
                  #{createdUser},#{createdTime},#{modifiedUser},#{modifiedTime}
                         )
    </insert>

    <select id="queryOrderByOid" resultMap="OrderEntityMap">
        SELECT * FROM t_order WHERE oid = #{oid}
    </select>

    <update id="updateOrderByOid">
        UPDATE t_order
        SET
            <if test="status != null">
                status = #{status},
            </if>
            <if test="payTime != null">
                pay_time = #{payTime}
            </if>

        WHERE oid = #{oid}
    </update>

    <select id="queryOrderItemByOid" resultMap="OrderItemEntityMap">
        SELECT * FROM t_order_item WHERE oid = #{oid}
    </select>

    <select id="queryOrderItemVOByUid" resultType="com.yh.store.vo.OrderItemVO">
        SELECT tor.oid,tor.recv_name AS recvName,title,tor.order_time AS orderTime,torm.price,torm.num,torm.image,tor.total_price AS totalPrice,tor.status
        FROM t_order tor
        LEFT JOIN t_order_item torm
        ON tor.oid = torm.oid
        WHERE tor.uid = #{uid}
        ORDER BY tor.order_time DESC
    </select>
</mapper>